spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration, classpath:db/seed
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
      naming.physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    database-platform: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      maxFileSize: 5MB
      maxRequestSize: 5MB
  mail:
    host: smtp.gmail.com
    port: 587
#    username: ${MAIL_USERNAME}
#    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

springdoc:
  swagger-ui:
    path: /swagger-monthsub.html
    tagsSorter: alpha
    operationsSorter: alpha
    oauth:
      client-secret:

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  port: ${PORT:8080}
  forward-headers-strategy: framework

cloud:
  aws:
    credentials:
      accessKey: ${IAM_ACCESS_KEY}
      secretKey: ${IAM_SECRET_KEY}
    s3:
      imageBucket: monthsub-image
      #      videoBucket: monthsub-video
      domain: https://monthsub-image.s3.ap-northeast-2.amazonaws.com

    region:
      static: ap-northeast-2
    stack:
      auto: false

security:
  jwt:
    header: authorization
    issuer: monthsub
    client-secret: ${JWT_CLIENT_SECRET}
    expiry-seconds: 86400
  cors:
    origin:
      - http://localhost:3000
      - http://127.0.0.1:3000
      - https://monthsub.netlify.app
  allows:
    get:
      - /assets/**
      - /h2-console/**
      - /v3/api-docs/**
      - /swagger-monthsub.html
      - /swagger-ui/**
      # endpoint
      - /health
      - /series/popular
      - /series/recent
      - /series/subscribe
      - /writers/popular
      - /series
      - /series/sort
      - /series/{id}
      - /series/search/title
      - /series/search/nickname
      - /channel
    post:
      - /signin
      - /signup
      - /send-email
#    put:
#    patch:

logging:
  level:
    com.prgrms: INFO
